

.anchor{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .1px .1px .1px .1px;
}

.white-bg{
    -fx-background-color: #FFFFFF;
}

.border-top{
    -fx-border-color: #000;
    -fx-border-width: .5px .1px .1px .1px;
}
.header-1{
    -fx-border-color: linear-gradient(to bottom right, #505fe5,#2b3580);
    -fx-border-width: 0 0 0 2px;
    -fx-padding: 0 0 0 5px;
}

.radius{
    -fx-background-radius: 5px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.bg-color{
    -fx-background-color: linear-gradient(to bottom right, #505fe5,#2b3580);
}
.btn-1{
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-border-width: .5px;
    -fx-text-fill: #000000;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 13px;
}
.btn-1:hover{
    -fx-background-color:linear-gradient(to bottom right, #505fe5,#2b3580);
    -fx-text-fill: #ffff;
}

.table-view{
    -fx-padding:  0;
    -fx-border-radius: 5px;
    -fx-border-color: linear-gradient(to bottom right, #505fe5,#2b3580);
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #505fe5,#2b3580);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 5px 5px 0 0;

}
.table-view .column-header, .filter{
    -fx-size: 40px;
    -fx-background-color: transparent;

}
.table-view .column-header .label{
    -fx-font-family: Arial;
    -fx-text-fill: white;

}

.custom-checkbox .box {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
    -fx-background-color: #ffffff;
    -fx-mark-color: #394add; /* Cor do check dentro do quadrado */
    -fx-border-radius: 5px;
}

.date-picker {
    -fx-border-radius: 1px;
    -fx-padding: 1;
    -fx-font-size: 13px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.date-picker .arrow {
    -fx-background-color: #4d4dbf;

}

/*.date-picker-popup {*/
/*    -fx-background-color: #571111;*/
/*    -fx-border-color: #6060ff;*/
/*    -fx-border-radius: 5;*/
/*}*/